.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 3px solid rgba(0, 0, 0, 0.219);
  display: block;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  display: inline-block;
}
.navbar a {
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 1rem;
}
.navbar a:hover {
  color: #007bff;
}
.navbar a.active {
  color: rgb(255, 255, 255);
  background-color: rgb(49, 49, 49);
}
