.authButton {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: #a6e1fa;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.authButton:hover {
  background-color: #92d4f4;
}
