.title-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #40adc2;
    padding: 15px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 1000px;
    margin-bottom: 20px;
  }
  
  .title {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .button-group {
    display: flex;
    gap: 20px;
  }
  
  .top-button {
    padding: 10px 20px;
    background-color: #7d4caf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
  }
  
  .top-button:hover {
    transform: scale(1.05);
  }